@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .link{
    @apply p-1 border-2 border-transparent transition;
  }
  .link:hover{
    @apply border-b-blue-600;
  }

  .techIcon{
    @apply bg-white rounded-3xl border-y-2 border-blue-600 p-1 transition-all;
  }
  .techIcon:hover{
    @apply  border-2 transition-all scale-110;
  }

  .pageLink{
    @apply flex gap-2 items-center md:text-2xl transition-all;
  }
  .pageLink:hover{
    @apply scale-125 transition-all;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0073fa;
  --secundary: #2e3038;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171718;
    --foreground: #ededed;
    --primary: #0073fa;
    --secundary: #2e3038;
  }
}


body {
  min-height: 100vh;
  color: var(--foreground);
  background-image: linear-gradient(to top, var(--primary), var(--background) 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
